/* header */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color:skyblue;
    height: 10vh;
    width: 100%;
    border: 3px steelblue solid;
    padding-top: 12px;
    color: #DC143C

}
.container {
    width: 80% !important;
    margin: auto !important;
}
.test {
    width:100%;
    height: 200px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: relative;
}

.test p {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
}
/* header end */

/* footer */
footer{
    background-color: skyblue;
    text-align: center;
    height: 5vh;

}
/* footer */
footer {
    padding: 20px 10%;
    background-color: #000;
    color: #fff;
    height: 400px;
    width: 100%;
    margin-top: 60px;
}
.footer-link a, .footer-link p{
    color: white !important;
    text-decoration: none;
    margin: 10px 0 !important;
    line-height: 2;
}
.row {
    display: block;
}
.row .col-4 {
    width: 33.33%;
    margin: auto;
    float: left;
    text-align: left;
}
@media (max-width: 400px) {
    .row .col-4 {
        width: 100%;
        margin: auto;
        float: left;
        text-align: left;
    }
    footer {
        height: 800px;
    }
}
/* footer end */
.head-title {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0;
}
.head-sub-title {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 416px 0 0 0 !important;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.contact-cards {
    width: 100%;
    margin-top: 60px;
}
.contact-card {
    text-align: center;
    float: left;
    width: 33%;
}
.contact-card img{
    width: 70px;
}
.contact-card .sub-info {
    font-size: 12px;
}
.contact-card .info {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    color: #5f5f5f;
}
.address .img, .address .add {
    float: left;
}
.address {
    width: 50%;
    margin: auto;
    text-align: center;
}
.address img {
    width: 40px;
    /* float: left; */
}
.address p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    color: #5f5f5f;
}
/* .address .img {
    width: 20%;
}
.address .img img {
    width: 40px;
    float: right;
}
.address .add {
    width: 80%;
} */
nav{
  position: absolute;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 10vw;
  height: 10vh;
  padding-top: 30px;
}

nav img{
  width: 150px;
  height: 120px;
  cursor: pointer;

}
nav .Navigation{
  display: flex;
}

#menu-btn{
  width: 30px;
  height: 35px;
  display: none;
}

#menu-close{
  display: none;
}

nav .Navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .Navigation ul li {
  list-style: none;
  margin-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
  padding: 0.1em;
  padding-bottom: -1em;
  margin: 0 1em;
}

nav .Navigation ul li a {
  text-decoration: none;
  color :white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
  
}

nav .Navigation ul li a.active,
nav .Navigation ul li a:hover {
  color: #FDC93B;
}

.dropdown {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto -60px;
  width: 20%;
  padding: 0.3em;
  padding-top: 0.5em;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

nav .Navigation ul li:focus .dropdown,
nav .Navigation ul li:focus-within .dropdown,
nav .Navigation ul li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;
  
}
.test {
  height: 20vh;
  background-color:black;
  border-color: black;
  width: 100%;
  padding-top: 25px;
}
main h1{
    background-color:burlywood;
    text-align: center;
    padding: 10px 10px 10px;
}